body {
	background-color: #555555;
	margin: 0px;
}

.main {
	background-color: #555555;
	
	width: 100%;
	height: 100%;
	
	margin: 0px;
	border-width: 0px;
	padding: 0px;
}

#welcome {
	width: 100%;
}

#navigator {
	border: none;
	height: 40;
}

table {
	width: 100%;
}

#player {
	width: 100%;
	height: calc((100vw - 40px) / 16 * 9);
}

tr.game button {
	background-color: inherit;
	border: none;
	text-align: inherit;
	
	display: grid;
	column-gap: 12px;
}

tr.game img {
	height: 80px;
	
	grid-column: 1;
	grid-row: 1 / 3;
}

tr.game h3 {
	font-family: Verdana, sans-serif;
	
	margin-top: 8px;
	grid-column: 2;
	grid-row: 1;
}

tr.game p {
	font-family: Times, Times New Roman, serif;
	
	margin: 0px;
	grid-column: 2;
	grid-row: 2;
}

div.game a {
	font-family: Verdana, sans-serif;
	color: #000000;
	text-decoration: none;
}

h2 {
	font-family: Verdana, sans-serif;
}

iframe.game {
	width: 640;
	height: 480;
	margin: auto;
	margin-top: 40px;
	display: block;
	border-width: 5px;
	border-color: #000000;
	border-style: solid;
	background-color: #FFFFFF;
}